.container {
    text-align:center;
    background-image: url('register.jpg');
    background-color: rgb(218, 218, 218);
    max-width: 400px;
    max-height: 1000px;
    padding: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

